* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#home-page {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#routines-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 20px;
}

#my-routines-page {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#activities-page {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-logout-page {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
